<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-primary text-muted">
  <!-- Section: Social media -->
  <!-- // <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"> -->

  <section class="d-flex justify-content-lg-between p-4 border-bottom">
    <!-- Right -->
    <div class="container text-center">
      <a href="" class="me-4 text-reset text-white">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Get To Know As
          </h6>
          <a style="text-decoration:none" href="" routerLink="/aboutUs" class="text-reset">About Us</a><br>
          <a style="text-decoration:none" href="#!" routerLink="/contactUs" class="text-reset">Contact Us</a><br>
          <a style="text-decoration:none" href="#!" routerLink="/FAQ" class="text-reset">FAQ</a><br>

        </div>

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
          <div class="text-white">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              CONSUMER POLICY
            </h6>

            <a style="text-decoration:none" href="#!" routerLink="/returnPolicy" class="text-reset">Return Policy</a>
            <br>
            <a style="text-decoration:none" href="#!" routerLink="/termsOfUse" class="text-reset">Terms Of Use</a><br>
            <a style="text-decoration:none" href="#!" routerLink="/security" class="text-reset">Security</a><br>
            <!-- <a style="text-decoration:none"  href="#!" class="text-reset">Privacy</a> -->
          </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <div class="text-white">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              SOCIAL
            </h6>
            <a style="text-decoration:none" href="https://www.facebook.com/flipkart" class="text-reset">FaceBook</a><br>
            <a style="text-decoration:none" href="https://twitter.com/" class="text-reset">Twitter</a><br>
            <a style="text-decoration:none" href="https://www.youtube.com/flipkart" class="text-reset">YouTube</a><br>
            <a style="text-decoration:none" href="https://www.instagram.com/amazondotin/"
              class="text-reset">Instagram</a>
          </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Mail Us</h6>

          <p>A2Zecommerce@a2z.com<br>
            A2Z Internet Private Limited,<br>
            Bengaluru, 560103,<br>
            Karnataka, India</p>
        </div>
        <!-- Grid column -->

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Registered Office Address</h6>
          <p>A2Z Internet Private Limited,
            Buildings Alyssa, Begonia &
            Clove Embassy Tech Village,
            Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru, 560103,
            Karnataka, India
            CIN : U51109KA2012PTC066107
            Telephone: 044-45614700</p>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">

    <a style="text-decoration:none" class="text-reset fw-bold" href="https://mdbootstrap.com/">© Copyright 1996-2023,
      A2Z.com, Inc. or its affiliates</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->