<div class="container">
    <fieldset class="border rounded-3 p-5" style="align-content: center; background-color:#1E90FF;"> 
     <h2 class="card-title">New-Profile </h2>
     <br>
     <form>
 
       <mat-progress-bar mode="buffer" *ngIf="progressBar"></mat-progress-bar>
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label"><h4>Email </h4></label>
         <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
       </div>
       <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label"><h4>Password</h4></label>
         <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
       </div>
 
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label"><h4>Card Number</h4></label>
         <input type="number" class="form-control" name="cardNumber" [(ngModel)]="user.cardNumber">
       </div>
 
       <!-- <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label"><h4>Cvv</h4></label>
         <input type="number" class="form-control" name="cvv" [(ngModel)]="user.cvv">
       </div> -->
 
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label"><h4>Name On Card</h4></label>
         <input type="text" class="form-control" name="nameOnCard" [(ngModel)]="user.nameOnCard">
       </div>
 
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label"><h4>Name</h4></label>
         <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
       </div>
 
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label"><h4>Address</h4></label>
         <input type="text" class="form-control" name="address" [(ngModel)]="user.address">
       </div>
       <!-- <button type="submit" class="btn btn-primary" (click)="addUser()">Login</button> -->
 
       <button type="submit" class="btn btn-primary" (click)="addUser()" >Submit</button>
     </form>