<nav class="navbar navbar-expand-sm navbar-light  bg-primary " >
   <div class="container ">
     <a class="navbar-brand text-light " href="#!"> A2Z Eccommerce</a>
    
     <div class="col-lg-8">
       <div class="input-group mb-3" style="margin-top: 15px;">
         <input type="text" class="form-control" placeholder="Search product" name="name">
         <button class="btn btn-danger" type="button" ><i class="fas fa-search"></i></button>
       </div>
     </div>
   </div>
   <div class="collapse navbar-collapse" id="navbarCustom">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li>
         <a class="navbar-brand text-light " aria-expanded="false" aria-current="page"
           [routerLink]="['/dashboard']">Home</a>
       </li>
       <li>
         <!-- <a class="navbar-brand text-light " aria-expanded="false" aria-current="page" 
           [routerLink]="['/profile/']"> Profile
           <i class="fas fa-user"></i>
         </a> -->
       </li>
       <li>
         <div>
           <button type="button" class="btn btn-outline-light" routerLink="/login" >Login</button>
         </div>
       </li>
     </ul>
   </div>
 </nav>
 <div class="container">

    <div class="banner">

        <div class="row text-light">

            <h1 style="text-decoration-style: solid;">&nbsp;&nbsp; Contact Us ...</h1>

        </div>
    </div>

    <div>
        <img src="https://d1eipm3vz40hy0.cloudfront.net/images/AMER/contactuspage.jpg" style="max-width: 34cm; max-height: 24cm; 
            
           align-content: center; " alt="">
    </div>



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?size=626&ext=jpg" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title border-bottom pb-3">Help center<a href="#" class="float-right d-inline-flex share"></a></h5>
               <p class="card-text">Our self-serve help center is open 24/7 with 150+ articles to help you . Always welcom you!!</p>
               <a href="#" class="btn btn-sm btn-info float-right">Get Help <i class="fas fa-angle-double-right"></i></a>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/contact-us-concept-illustration_114360-2299.jpg?size=626&ext=jpg&ga=GA1.1.2030457614.1689765215&semt=ais" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title border-bottom pb-3">Chat Support<a href="#" class="float-right btn btn-sm btn-info d-inline-flex share"></a></h5>
               <p class="card-text">Our support team is just a click away . Feel free to chat.</p>
               <a href="#" class="btn btn-sm btn-info float-right">Chat now  <i class="fas fa-angle-double-right"></i></a>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card bg-light">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?size=626&ext=jpg&ga=GA1.1.2030457614.1689765215&semt=ais" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title border-bottom pb-3">Email Support <a href="#" class="float-right btn btn-sm btn-info d-inline-flex share"></a></h5>
               <p class="card-text">Prefer to email? Send us an email and we'll get back to you soon.</p>
               <a href="#" class="btn btn-sm btn-info float-right">Send Email <i class="fas fa-angle-double-right"></i></a>
            </div>
         </div>
      </div>
   </div>
   
</div>
<footer class="text-center text-lg-start text-white bg-primary text-muted">
   <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
     
       <a style="text-decoration:none" class="text-reset fw-bold" href="https://mdbootstrap.com/">© Copyright 1996-2023, A2Z.com, Inc. or its affiliates</a>
     </div>
     </footer>