<nav class="navbar navbar-expand-sm navbar-light  bg-primary " >
    <div class="container ">
      <a class="navbar-brand text-light " href="#!"> A2Z Eccommerce</a>
     
      <div class="col-lg-8">
        <div class="input-group mb-3" style="margin-top: 15px;">
          <input type="text" class="form-control" placeholder="Search product" name="name">
          <button class="btn btn-danger" type="button" ><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCustom">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="navbar-brand text-light " aria-expanded="false" aria-current="page"
            [routerLink]="['/dashboard']">Home</a>
        </li>
        <li>
          <!-- <a class="navbar-brand text-light " aria-expanded="false" aria-current="page" 
            [routerLink]="['/profile/']"> Profile
            <i class="fas fa-user"></i>
          </a> -->
        </li>
        <li>
          <div>
            <button type="button" class="btn btn-outline-light" routerLink="/login" >Login</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <div style="text-size-adjust:24px;">
    <img     src="https://static.ebayinc.com/static/assets/Uploads/Banners/_resampled/FillWzEyMDAsNDMwXQ/230503-Impact-report-promo-v1-hub-promo-desktop-3360x1204.jpg" alt="gmart">
    
        <br>
        <br>
        <h3>About Us</h3>
        <h5>
        <p style="text-align: justify; ">
            India is a country which is rich in culture and festivals. Every year during the festival seasons, it has
            limitless offers for niche customers through the niche business. Since the E-commerce industries are
            flourishing
            with the tough competition in the market, products are selling massively and also displayed traditional
            stores
            can be found around the nation. Ecommerce companies are attracting the global audience with its unique
            seasonal
            offers. Nevertheless, the pandemic has affected the market was enforced in the lockdown and hampered the
            business of these niche markets. Operating on daily revenue, these small-scale and medium-scale
            manufacturers
            have hit down due to lack of customers attention. Most of them have transformed their business from offline
            to
            online, which needs a pack of resources. Since these retailers lack behind remaining unequipped to handle,
            and
            there We Gmart has taken up the initiative to be the mediator between agent and customer to ease the loss.
        </p>
    </h5>
        <h3>Our Version </h3>
        <h5>
        <p> We are endeavouring to set an Indian marketplace online via an e-Commerce portal, where Gmart brings the
            Indian
            suppliers and manufacturers online to sell their niche products to the global audience—recognising the small
            and
            medium scale companies to use our platform. Their quality products are introduced to our audience. All types
            of
            resources involving technology, logistics and budget are supervised by Gmart. We ensure that a seamless
            transition of businesses from offline to online, implementing them with the right technology—complete
            secured,
            reliable and visually appealing, where sellers can upscale their businesses through our portal. We guarantee
            that customers can have a hassle-free and smooth experience while shopping with us.</p>
            </h5>
        <h3>Mission</h3>
        <h5>
        <p>We primarily deal with organic and handmade products, jewellery, clothing, environment-friendly products,
            handicrafts, festive gifts, and all the niche Indian products—well-crafted products which have undergone the
            quality check. The quality check ensures that our patrons receive the best products and experience the best
            shopping. Gmart is a place where all these products enjoy the recognition they deserve. Gmart manages this
            transition end-to-end for a least charge after registration. Gmart.in comes in a handy with all the
            e-commerce
            trends and technologies - mobility of browsing, easy payments, online marketing, doorstep delivery system
            and
            comfort top priority.</p>
            </h5>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <img src="https://t4.ftcdn.net/jpg/03/32/23/41/240_F_332234118_PzyvwhrMVm2yYMfu0q2CFnD1MeKHgD8w.jpg" alt="gmart" style="height: 21rem; ">
            </div>
            <div class="col-md-6 text-lg-start">
                <br>
                <br>
                <h3>Technology at A2Z </h3>
                <h1>Innovation</h1>
                <p style="font-family: sans-serif; line-height :48px; font-size: 21px !important; color: #848484;">
                    A2Z technology drives path-breaking, customer-focused innovation that makes high quality
                    products
                    accessible to Indian shoppers, besides making the online shopping experience convenient, intuitive
                    and
                    seamless.
                </p>
            </div>
        </div>
    </div>

 
</div>
<footer class="text-center text-lg-start text-white bg-primary text-muted">
    <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
      
        <a style="text-decoration:none" class="text-reset fw-bold" href="https://mdbootstrap.com/">© Copyright 1996-2023, A2Z.com, Inc. or its affiliates</a>
      </div>
      </footer>