<div class="container-mt">
<!-- 
<div class="card" style="width: 18rem;">
    <div class="card-body"> -->
      <fieldset class="border rounded-3 p-5" style="align-content: center; background-color:#1E90FF;"> 
      <mat-form-field appearance="fill">
        <mat-label>Choose a tags</mat-label>
        
        <mat-select (selectionChange)="selectedValue($event)">
          <mat-option style="color: #1E90FF;" *ngFor="let tag of tags" [value]="tag.id">
            <fieldset class="border rounded-3 p-5" style="align-content: center; background-color:#1E90FF;"> 
            {{tag.name}}
          </fieldset>
          </mat-option>
        </mat-select>
      
      </mat-form-field>
    <!-- </div> -->
    </fieldset>
 </div> 