<!-- jc habe to add link to given images -->


<div class="page-wrapper">
	<div class="container">
		<div class="row">
      		<div class="col-md-4">
			<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/IN/OHL/GW/Fallback/creatives/Desktop_CC_1x._SY304_CB588818660_.jpg" alt="mixes">
      		</div>
			<div class="col-md-4">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Electronics/Clearance/Clearance_store_Desktop_CC_1x._SY304_CB628315133_.jpg" alt="laptop">
      		</div>
              <div class="col-md-4">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/TVs/Sabeer/MAY_BVD/Desktop_CC._SY304_CB589278387_.jpg" alt="Appliances">
                  </div>
		</div>
	</div>
</div>
