<nav class="navbar navbar-expand-sm navbar-light  bg-primary " >
    <div class="container ">
      <a class="navbar-brand text-light " href="#!"> A2Z Eccommerce</a>
     
      <div class="col-lg-8">
        <div class="input-group mb-3" style="margin-top: 15px;">
          <input type="text" class="form-control" placeholder="Search product" name="name">
          <button class="btn btn-danger" type="button" ><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCustom">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="navbar-brand text-light " aria-expanded="false" aria-current="page"
            [routerLink]="['/dashboard']">Home</a>
        </li>
        <li>
          <!-- <a class="navbar-brand text-light " aria-expanded="false" aria-current="page" 
            [routerLink]="['/profile/']"> Profile
            <i class="fas fa-user"></i>
          </a> -->
        </li>
        <li>
          <div>
            <button type="button" class="btn btn-outline-light" routerLink="/login" >Login</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" style="background-image: url(https://img.freepik.com/free-vector/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37375.jpg?size=626&ext=jpg&ga=GA1.1.2030457614.1689765215&semt=sph); background-repeat: no-repeat; max-width: 70%; max-height:70%; ">
    <br>
    <br>
    <section>
        <h2>Security In A2Z </h2>
        <br>
        <div class="text-align:justify-content-center" >
            <p><strong>Is making online payment secure on A2Z?</strong></p>
            <p>Yes, making the online payment is secure on A2Z</p>
            <p><strong>Does A2Z store my credit/debit card infomation?</strong></p>
            <p>No. A2Z only stores the last 4 digits of your card number for the purpose of card identification.
            </p>
            <p><strong>What credit/debit cards are accepted on A2Z?</strong></p>
            <p>We accept VISA, MasterCard, Maestro, Rupay, American Express, Diner&#39;s Club and Discover credit/debit
                cards.</p>
            <p><strong>Do you accept payment made by credit/debit cards issued in other countries?</strong></p>
            <p>Yes! We accept VISA, MasterCard, Maestro, American Express credit/debit cards issued by banks in India
                and in
                the following countries:
                Australia, Austria, Belgium, Canada, Cyprus, Denmark, Finland, France, Germany, Ireland, Italy,
                Luxembourg,
                the Netherlands, New Zealand, Norway, Portugal, Singapore, Spain, Sweden, the UK and the US.
                Please note that we do not accept internationally issued credit/debit cards for eGV payments/top-ups.
            </p>
            <p><strong>What other payment options are available on A2Z?</strong></p>
            <p>Apart from Credit and Debit Cards, we accept payments via Internet Banking (covering 44 banks), Cash on
                Delivery, Equated Monthly Installments (EMI), E-Gift Vouchers, A2Z Pay Later, UPI, Wallet, and
                Paytm
                Postpaid.</p>
          
            <p><strong>Contact Us</strong></p>
            <p>Couldn&#39;t find the information you need? Please <a href="" routerLink="/contactUs">Contact
                    Us</a>
            </p>
        </div>

    </section>
</div>
<footer class="text-center text-lg-start text-white bg-primary text-muted">
    <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
      
        <a style="text-decoration:none" class="text-reset fw-bold" href="https://mdbootstrap.com/">© Copyright 1996-2023, A2Z.com, Inc. or its affiliates</a>
      </div>
      </footer>