<nav class="navbar navbar-expand-sm navbar-light  bg-primary ">
    <div class="container ">
        <a class="navbar-brand text-light " href="#!"> A2Z Eccommerce</a>

        <div class="col-lg-8">
            <div class="input-group mb-3" style="margin-top: 15px;">
                <input type="text" class="form-control" placeholder="Search product" name="name">
                <button class="btn btn-danger" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCustom">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a class="navbar-brand text-light " aria-expanded="false" aria-current="page"
                    [routerLink]="['/dashboard']">Home</a>
            </li>
            <li>
                <!-- <a class="navbar-brand text-light " aria-expanded="false" aria-current="page" 
            [routerLink]="['/profile/']"> Profile
            <i class="fas fa-user"></i>
          </a> -->
            </li>
            <li>
                <div>
                    <button type="button" class="btn btn-outline-light" routerLink="/login">Login</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<marquee direction="left">
    <h1 style="color: blue;"> Great Deals in A2Z Ecommerce</h1>
</marquee>
<div class="container mt-3">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Electronics/BAU/Page/Revamp/RTB/Section/Revised/RTB_PC.jpg"
        style="width: 100%; height: 50%;">
</div>
<hr>
<h1 style="color: blue; text-align: center;"> <strong> Best Mobiles Offers</strong></h1>
<hr>
<div class="container mt-3">
    <img src="https://m.media-amazon.com/images/G/31/tiyesum/iQOONeo7Pro/19July/D84645784_1400x800_6._CB600318082_.jpg"
        style="width: 100%; height: 50%;">
</div>
<hr>
<h1 style="color: blue; text-align: center;"> <strong> Bank Discount</strong></h1>
<hr>
<div class="container mt-3">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/tiyesum/SmartphoneEMICarnival/June/Tnc/D83514741_WLD_HDFC_EMI-Offer_June_DesignSIM_bank_stripe_pc.jpg"
        style="width: 100%; height: 50%;">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/tiyesum/HSBCnYES/22July/HSBC-and-YES-Bankstripe_PC_1500.jpg"
        style="width: 100%; height: 50%;">

</div>
<hr>
<h1 style="color: blue; text-align: center;"> <strong> Instruments </strong></h1>
<hr>
<div class="container mb-2">
    <div class="row">
        <div class="col-sm-8"><img
                src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Cameras/Shutterbug/ASINs/Untitled-1.jpg"
                style="width: 100%; height: 100%;">
        </div>
        <div class="col-sm-4"><img
                src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/MI/Revamp/Beginners/MI_beginners_PCApp_guitars._CB486528326_.jpg"
                style="width: 100%; height: 100%;">
        </div>
    </div>
</div>
    <footer class="text-center text-lg-start text-white bg-primary text-muted">
        <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">

            <a style="text-decoration:none" class="text-reset fw-bold" href="">© Copyright
                1996-2023, A2Z.com, Inc. or its affiliates</a>
        </div>
    </footer>