<nav class="navbar navbar-expand-sm navbar-light  bg-primary " >
    <div class="container ">
      <a class="navbar-brand text-light " href="#!"> A2Z Eccommerce</a>
     
      <div class="col-lg-8">
        <div class="input-group mb-3" style="margin-top: 15px;">
          <input type="text" class="form-control" placeholder="Search product" name="name">
          <button class="btn btn-danger" type="button" ><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCustom">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="navbar-brand text-light " aria-expanded="false" aria-current="page"
            [routerLink]="['/dashboard']">Home</a>
        </li>
        <li>
          <!-- <a class="navbar-brand text-light " aria-expanded="false" aria-current="page" 
            [routerLink]="['/profile/']"> Profile
            <i class="fas fa-user"></i>
          </a> -->
        </li>
        <li>
          <div>
            <button type="button" class="btn btn-outline-light" routerLink="/login" >Login</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <br>
    <br>
    <h2>General Returns Policy</h2>

    <ol style="text-align: justify;">
        <li>Applicable products are returnable within the applicable return window if you’ve received them in a
            condition that is physically damaged, has missing parts or accessories, defective or different from their
            description on the product detail page on A2Z.com</li>
        <li>If you report an issue with your Smartphone, Tablet, Laptop, Television, Air Conditioner, Refrigerator,
            Washing Machine, Microwave, we may facilitate scheduling a technician visit to your location. This visit is
            scheduled by placing an order with A2Z through A2Z.in Home Services. Subject to A2Z.in Home
            Services Terms and Conditions, a resolution will be provided based on the technician's evaluation report.
        </li>
        <li>Return will be processed only if:
            <ul>
                <li>It is determined that the product was not damaged while in your possession;</li>
                <li>The product is not different from what was shipped to you;</li>
                <li>The product is returned in original condition (with brand’s/manufacturer's box, MRP tag intact, user
                    manual, warranty card and all the accessories therein).</li>

            </ul>
        </li>
        <li>If you wish to return an electronic device that stores any personal information, please ensure that you have
            removed all such personal information from the device prior to returning. A2Z shall not be liable in any
            manner for any misuse or usage of such information.</li>
        <li>Products may not be eligible for return in some cases, including cases of buyer's remorse such as incorrect
            model or color of product ordered or incorrect product ordered.</li>
        <li>Products marked as "non-returnable" on the product detail page cannot be returned. However, in an unlikely
            event of damaged, defective or wrong item delivered to you, we will provide a full refund or replacement, as
            applicable. We may contact you to ascertain the damage or defect in the product prior to issuing
            refund/replacement. We reserve the right to pick up the product to ascertain the damage or defect in the
            product prior to issuing refund/replacement.</li>
        <li>No additional information is required to return an eligible order unless otherwise noted in the category
            specific policy. </li>
        <li>Products may be eligible for replacement only if the same seller has the exact same item in stock. </li>
        <li>If the replacement request is placed and the seller does not have the exact same product in stock, a refund
            would be issued to you. </li>
        <li>Products purchased by international customers are not eligible for returns. However, orders made by
            international customers are eligible for refunds and customers will have to contact customer service within
            5 business days from delivery date or estimated delivery date to claim refunds.</li>
    </ol>
    <h3>General use for successful return</h3>
    <ul style="text-align: justify;">
        <li>In certain cases where the seller is unable to process a replacement for any reason whatsoever, a refund
            will be given.</li>
        <li>In cases where a product accessory is found missing/damaged/defective, the seller may either process a
            replacement of the particular accessory or issue an eGV for an amount equivalent to the price of the
            accessory, at the seller’s discretion.</li>
        <li> During open box deliveries, while accepting your order, if you received a different or a damaged product,
            you will be given a refund (on the spot refunds for cash-on-delivery orders). Once you have accepted an open
            box delivery, no return request will be processed, except for manufacturing defects. In such cases, these
            category-specific replacement/return general conditions will be applicable. Click here to know more about
            Open Box Delivery</li>
        <li>For products where installation is provided by A2Z's service partners, do not open the product
            packaging by yourself. A2Z authorised personnel shall help in unboxing and installation of the product.
        </li>
        <li>For Furniture, any product-related issues will be checked by authorised service personnel (free of cost) and
            attempted to be resolved by replacing the faulty/ defective part of the product. Full replacement will be
            provided only in cases where the service personnel opines that replacing the faulty/defective part will not
            resolve the issue.'</li>

    </ul>
</div>
<footer class="text-center text-lg-start text-white bg-primary text-muted">
    <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">

        <a style="text-decoration:none" class="text-reset fw-bold" href="https://mdbootstrap.com/">© Copyright
            1996-2023, A2Z.com, Inc. or its affiliates</a>
    </div>
</footer>