<!-- <div style="background: aliceblue; padding: 10px; border-radius: 5px;"> -->
  
<!-- <nav class="navbar navbar-expand-sm navbar-light  text-light bg-primary "> -->
  <div class="container  ">
      <!-- <div class="card-header text-center">Shopping Cart</div> -->
      
      <fieldset class="border rounded-3 p-3 text-white" style="align-content: center; background-color:#1E90FF;">
         <legend >  <i class="bi bi-cart"></i>Shopping Cart</legend>
      <!-- <div class="card-body"> -->
        <h4 class="card-title">Total: Rs .{{total}}</h4>
        <h5 class="card-title">Items bought</h5>
  
        <ul>
          <li *ngFor="let order of orders.productOrders">
            {{ order.product.name }} - {{ order.quantity}} pcs.
          </li>
        </ul>
  
        <button class="btn btn-light btn-block" (click)="finishOrder()"
          [disabled]="orders.productOrders.length == 0" >Checkout
        </button> 
             <!-- <button (click)="payment()">Pay amount</button> -->
      <!-- </div> -->
      </fieldset>
    <!-- </div> -->

     <!-- <div class="card text-white bg-warning mb-3" style="max-width: 19rem;">
      <div class="card-header text-center">Delivry</div>
      <div class="card-body" style="padding: 0px !important; margin-top: -30px;">
        <div class="text-center mt-5" style="text-align: left !important; padding: 0">
          <div>
            <ul class="list-group" style="color: black">
              <li class="list-group-item" *ngFor="let item of itemsList" style="background: #ffc107 !important;">
                <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}"
                  (change)="onItemChange(item)" />
                {{item.name}}{{item.price}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>   -->